*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background: #6c698d;
    height: 100vh;
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width:500px;
    padding:20px;
    background:white;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.1);
}

input,
select{
    width:100%;
    padding:10px;
    margin:10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button{
    width:100%;
    padding:10px;
    cursor:pointer;
    border-radius: 20px;
    border: none;
    background-color: #6c698d;
}
button:hover{
    background-color: green;
}