*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#6c698d;
    padding:20px;
}

.container{
    max-width:1000px;
    margin:auto;
}

.card{
    background:white;
    padding:20px;
    border-radius:10px;
    margin-bottom:20px;
}

input{
    width:100%;
    padding:10px;
    margin:10px 0;
}

button{
    padding:10px 10px;
    cursor:pointer;
    background-color: rgb(207, 129, 129);
    border: none;
    border-radius: 10px;
}
#add-btn{
    padding:10px 10px;
    cursor:pointer;
    background-color: green;
    border: none;
    border-radius: 10px;
}


table{
    width:100%;
    border-collapse:collapse;
}

th,td{
    border:1px solid rgb(221, 221, 221);
    padding:20px;
    text-align:left;
}

th{
    background:rgb(221, 221, 221);
}
