*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: #6c698d;
    font-family:Arial, Helvetica, sans-serif;
    }



form{
    width:350px;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
}

input{
    width:100%;
    padding:10px;
    margin:10px 0;
    border-radius: 10px;
    border: 1px solid rgb(129, 129, 129);
}
input:focus{
    border: 1px solid rgb(129, 129, 129);
    box-shadow: 0px 0px 5px #6c698d;
}

button{
    margin: 10px;
    background-color: #6c698d;
    width:100%;
    padding:10px;
    cursor:pointer;
    border-radius: 20px;
    border: none;
}
button:hover{
    background-color: green;
}

    

   